body {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Oleo Script', cursive;
    font-size: large;
}
.text-quizKeuze{
    color: rgb(240, 39, 146);
}
.body_kleur{
    color: black;
}
